.chart {
  box-shadow: 3px 4px 14px -6px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 3px 4px 14px -6px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 3px 4px 14px -6px rgba(0, 0, 0, 0.48);
  margin: 20px;
  padding: 20px;
}
.chart-title {
  margin-bottom: 20px;
  font-family: bold;
}
